.card-background-page {
    .card-image-hotel {
        width: 38%;
        height: 183px;
        float: right;
    }
    .card-title-hotel {
        font-size: 14px;
        top: 0%;
        text-align: left;
        color: black;
    }
    .card-cost-hotel {
        font-size: 29px;
        color: #E22F19;
        text-align: left;
        margin-top: 20px;
    }
}