<ion-menu [content]="content">
    <ion-header>
        <ion-toolbar>
            <ion-title>Cart</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <button (click)="changePage(menu.entity_type)"ion-item *ngFor="let menu of carts">
                <div style="text-transform: uppercase;    padding-top: 24px;    width: 106px;" item-left><h2 style="font-size: 12px" color="aleevent">{{menu.name}}</h2></div>
                <div *ngIf="menu.item.cost" style="text-transform: uppercase;text-align:center" item-rigth><h2 style="font-size: 16px;
    float: left;
    margin-top: 8px;" color="aleevent">{{menu.item.cost}} ZL</h2> <ion-buttons>
                     <button style="    width: 19px;
    height: 18px;" *ngIf="menu.entity_type !== 'photographer'" color="aleevent" ion-button small icon-only (click)="deleteitem(menu)">
                         <ion-icon name="close" style="    padding-bottom: 0px;"></ion-icon>
                    </button>
                </ion-buttons></div>
                <div style="text-transform: uppercase;text-align: center;clear: both;" *ngIf="!menu.item.event"><p style="font-size: 12px;">{{menu.item.name}}</p>
                </div>
                   
                <div style="text-transform: uppercase; text-align: center;clear:both;" *ngIf="menu.item.event"><p style="font-size: 12px;">{{menu.item.event.name}}</p></div>    
            </button>
            <button ion-item>
                <div style="text-transform: uppercase;    padding-top: 24px;    width: 106px;" item-left><h2 style="font-size: 15px" color="aleevent">SUMMA</h2></div>
                <span style="text-transform: uppercase;text-align: center"><p style="margin-top: 20px;font-size: 16px;" color="aleevent">{{allSum.allSum}} ZL</p>
                </span>
            </button>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav id="nav" #content [root]="rootPage"></ion-nav>