<ion-menu [content]="content">
    <ion-header>
        <ion-toolbar>
            <ion-title>Cart</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <button ion-item *ngFor="let menu of carts">
        <span style="text-transform: uppercase" *ngIf="!menu.item.event">{{menu.entity_type}} - {{menu.item.name}} <span *ngIf="menu.item.cost"> - {{menu.item.cost}} ZL</span></span>
         <span style="text-transform: uppercase" *ngIf="menu.item.event">{{menu.entity_type}} - {{menu.item.event.name}} - {{menu.item.cost}} ZL</span>
      </button>
    
        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav id="nav" #content [root]="rootPage"></ion-nav>