<ion-header>
    <ion-navbar color="dark">
        <ion-buttons end>
            <button (click)="openMenu()" ion-button icon-only>
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>
            <img src="http://10.100.3.68/images/new2.png">
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="card-background-page">

    <ion-card class="card-background-city" style="background-color: black;" *ngFor="let photographer of photographers; let i=index">
        <img (click)="openTransport(photographer)" style="opacity: 0.8;    height: 143px;" src="http://10.100.3.68/img/photographer/{{photographer?.picture}}" />
        <div (click)="openTransport(photographer)"  style="text-transform: uppercase;  font-weight: 300" class="card-title">
            <span class="card-title-photographer">{{photographer?.name}}</span>
        </div>
        <ion-fab right bottom>
            <button (click)="openModal({charNum: i})" ion-fab mini style="background-color: rgba(56, 126, 245, 0);     border-radius: 0;
      box-shadow: none;">
                <ion-icon name="information-circle"></ion-icon>
            </button>
        </ion-fab>
        <ion-fab right top *ngIf="photographer.show">
            <button ion-fab mini style="background-color: rgba(56, 126, 245, 0);     border-radius: 0;
      box-shadow: none;">
                <ion-icon color="secondary" name="checkmark-circle"></ion-icon>
            </button>
        </ion-fab>
    </ion-card>

</ion-content>