<ion-header>
    <ion-navbar color="dark">
        <ion-title>
            <img src="http://10.100.3.68/images/new2.png">
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="card-background-page">

    <ion-card style="background-color: black;" *ngFor="let city of cities">
        <img *ngIf="city.status" style="opacity: 0.8" src="http://10.100.3.68/img/city/{{city?.picture}}" />
        <img *ngIf="!city.status" style="opacity: 0.8; filter:grayscale(100%)" src="http://10.100.3.68/img/city/{{city?.picture}}" />
        <div style="text-transform: uppercase;  font-weight: 300" class="card-title">
            <span style=" display block;
                  margin-left 36px;
                  margin-right 32px;border 1px solid white; text-shadow 1px 1px 1px black;
                  padding 8px;">{{city?.name}}</span>
        </div>

    </ion-card>


</ion-content>
